body{ 
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;
	background-color:rgb(0,0,0); 
	font-family:arial; font-size:10px; color:#FFFFFF; text-shadow: -2px -2px 3px rgba(0,0,0,0.50);
	/*
	background-image:url("http://lh3.ggpht.com/-AmvWXTr6Sh8/SMEdHM0xQVI/AAAAAAAAAQY/tmBsJDhDAXw/IMG_1585.JPG");
	background:url('../src/tiling.gif');
	background:url('../src/starsglow1.gif');
	background:url('../src/Seamless-Green-Grass-Pattern-1650704.jpg');
	background:url('../src/brown-diagonal-tile-thumb_medium.jpg');
	background:url('../src/Medieval.jpg');
	background:url('../src/thorns-repeating-seamless-tile-background-thumb_medium.jpg');/**/
	
	background-attachment: fixed;
	/*-moz-box-shadow: 0px 0px 7px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.5);
	border-radius:0px;
	border-width:0px;
	overflow:hidden;/**/
}
.TableExtructure{ 
	border:0;
	/*background:transparent;/**/
	background:url('../src/thorns-repeating-seamless-tile-background-thumb_medium.jpg');
	background-attachment: fixed;
	padding:5px 5px 5px 5px;
	margin:0px 0px 0px 0px;/**/
}
.Tools{ 
	border-width:5px; border-radius:5;
	background:rgba(128,128,128,1.0);
	border-top-color:rgb(192,192,192);
	border-left-color:rgb(192,192,192);
	border-bottom-color:rgb(64,64,64);
	border-right-color:rgb(64,64,64);
	display:block;
	padding:3px 3px 3px 3px;
	margin:1px 0px 1px 0px;
	font-family:arial; font-size:12px;
}
#optLayers{
	background-color:rgba(255,255,0,0.5); color:#000000;
	text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:arial; font-size:14px;
	/*-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);/**/
	margin:2px 0px 2px 0px;
	border-color:rgba(0,0,0,0.5);	border-radius:5; border-width:1px;
	display:block;
	overflow:hidden;
	width:100%;
}
.PropsOptGroupTitle{
 	background:rgba(128,128,0,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:5;
	border-width:0px;
	padding:2px 3px 2px 3px; 
	margin:2px 0px 2px 0px;
}
.InstanciesOptGroupTitle{
	background:rgba(255,0,255,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:5;
	border-width:0px;
	padding:2px 3px 2px 3px; 
	margin:2px 0px 2px 0px;
}
.LayersEspecialOptGroupTitle{ 
 	background:rgba(128,0,0,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:5;
	border-width:0px;
	padding:2px 3px 2px 3px; 
	margin:2px 0px 2px 0px;
}
.LayersTetoOptGroupTitle{ 
	background:rgba(0,0,255,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:5;
	border-width:0px;
	padding:2px 3px 2px 3px; 
	margin:2px 0px 2px 0px;
}/**/
.LayersPisoOptGroupTitle{ 
	background:rgba(0,128,0,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:5;
	border-width:0px;
	padding:2px 3px 2px 3px; 
	margin:2px 0px 2px 0px;
}/**/
.PropsOptGroupElements{ 
	background-color:rgba(255,255,128,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	margin:2px 0px 2px 0px;
	border-radius:5; border-width:1px;
	display:block;
}
.InstanciesOptGroupElements{ 
	background-color:rgba(255,128,255,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	margin:2px 0px 2px 0px;
	border-radius:5; border-width:1px;
	display:block;
}
.LayersEspecialOptGroupElements{ 
	background-color:rgba(255,0,0,0.5); color:#000000; 
	text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:arial; font-size:12px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	margin:2px 0px 2px 0px;
	border-radius:5; border-width:1px;
	display:block;
}

.PainelPropriedade{ 
	width:95%;
	background:rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	font-family:arial; font-size:10px;
	border-radius:5; border:1px;
	display:block;
	padding:5px 5px 5px 5px;
	margin:3px 0px 3px 0px;
}
.PainelPropriedadeTitle{ 
	background:rgba(255,255,0,0.5);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	border-radius:5; border-width:1px;
	padding:2px 10px 0px 10px;
	/*margin:3px 0px 3px 0px;/**/
}/**/
.PainelPrincipal{ 
	background:rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	font-family:arial; font-size:10px;
	border-radius:5; border:1px;
	display:block;
	padding:5px 5px 5px 5px;
	margin:3px 0px 3px 0px;
}
/*.CanvasPrincipal{
	background:rgba(64,64,64,0.5);
	background-image:url("../src/background.png");
	background-repeat:no-repeat;
	background-position:center,center;
	border-color:rgba(255,255,255,1.0); border-radius:5; border-width:1px;
	margin:0px 0px 0px 0px;
	width:640px; height:480px;
}/**/
#cnvTileset, #cnvPalco{
	background:rgba(64,64,64,0.5);
	/*background-image:url("../../tilesets/woodland_ground.png");
	background-repeat:no-repeat;/**/
	background-position:center,center;
	border-width:1px; border-color:rgb(255,255,255);
	border-radius:5; border:1px;
	margin:0px 0px 0px 0px;
	width:640px; height:480px;
}/**/

#frmTilesetNovo, #frmCamadaNova{
	position:absolute; left:400px; top:150px;
	background:rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	border-radius:10; border-width:1px;
	display:none;
	padding:5px 4px 5px 4px; 
	margin:0px 10px 0px 10px;/**/
}

/*.frmPropMap{
	display:none; 
	background-color:rgba(255,255,255,0.15); 
	padding:5px 5px 5px 5px;
	border-radius:5;
	font-family:arial; font-size:10px;
}
#frmPropMap{
	position:absolute; left:100px; top:200px;
	background:rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1);
	border-radius:10; border-width:1px;
	display:none;
	padding:5px 10px 5px 10px; 
	margin:0px 10px 0px 10px;
}/**/

/*.aviso{ 
	display:none; 
	background:rgba(255,255,0,0.25); 
	border-radius:5; 
	padding:2px 2px 2px 2px;
	font-family:arial;
	font-size:10pt; 
	color:white;
}
.bigselect{
	border-width:0; 
	border-radius:5; 
	color:#FFFFFF; 
	background:rgba(255,255,255,0.15);
}
.canvasAvatar{
	background:rgba(255,255,255,0.35); 
	color:rgba(255,255,255,0.75);
	border-width:0; 
	border-color:rgb(255,255,255); 
	border-radius:5;
}
.titleForms{
	background:rgba(192,192,255,0.25); 
	border-width:1; 
	border-color:rgb(0,0,0); 
	border-radius:5;
	text-align:left;
	font-family:arial;
	font-size:14pt; 
	color:rgba(255,255,255,1);
	padding:0px 10px 0px 10px;
	margin:0px 5px 0px 5px;
}
.contract{
	border-radius:5; padding:2px 2px 2px 2px;
	background-color:rgba(255,255,255,0.15); color:rgba(255,255,255,1.0); 
	border-width:0; border-color:rgba(255,255,255,0.50);
}

.codigo{
	background-color:rgba(255,255,255,0.25);
	color:#FFFFFF; text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:Courier; font-size:12px;
	border-radius:10; border-width:1px;
	padding:0px 5px 0px 5px; margin:0px 0px 0px 0px;
}/**/
/*div2{ 
	background-color:rgba(255,255,255,0.35);
	-moz-box-shadow: 0px 0px 7px rgba(255,255,0,0.5);
	-webkit-box-shadow: 0px 0px 7px rgba(255,255,0,0.75);
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75);
	border-radius:6;
	border-width:1px;
}/**/
/*
fieldset{
	border-radius:10;
}
input{ 
	background-color:rgba(255,255,255,0.25);
	color: rgba(255,255,255,1); text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:Courier; font-size:12px;
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:10;	border-width:1px;
	padding:0px 5px 0px 5px; 
	margin:0px 0px 0px 0px;
	height:18px;
	vertical-align:middle;
}
/*select{ 
	background-color:rgba(255,255,255,0.15);
	color: rgba(255,255,255,1); text-shadow: -2px -2px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:10;	border-width:1px;
	padding:0px 5px 0px 5px; 
	margin:0px 0px 0px 0px;
}
optgroup{
	background:rgba(0,0,128,0.25);
	color:#FFFFFF; text-shadow: -2px -2px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:5;
	border-width:0px;
	padding:0px 5px 0px 5px; 
	margin:0px 0px 0px 0px;
}
button{
	background-color:rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 7px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,1);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.75); text-align:left;
	border-radius:6;
	border-width:1px;
	height:23px;
}
button:hover, button.hover, button:focus, button.focus{ 
	background-color:rgba(255,255,192,1);
	-moz-box-shadow: 0px 0px 15px rgba(255,255,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(255,255,0,1);
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75); text-align:left;
	/*border-radius:10;
	border-width:1px;
	height:23px;
}
button:disabled, button.disabled{ 
	background-color:rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 0px 0px rgba(0,255,0,0.5);
	-webkit-box-shadow: 0px 0px 0px rgba(0,255,0,0.5);
	color: rgba(0,0,0,0.5);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5); text-align:left;
	border-width:1px;
	height:23px;
}/**/