<script language="javascript">
	function xmlMicoxLoader(url){
	  //by Micox: micoxjcg@yahoo.com.br.
		 if(window.XMLHttpRequest){
		     var Loader = new XMLHttpRequest();
		     Loader.open("GET", url ,false);
		     //Loader.send(null);
		     return Loader.responseXML;
		 }else if(window.ActiveXObject){
		     var Loader = new ActiveXObject("Msxml2.DOMDocument.3.0");
		     Loader.async = false;
		     Loader.load(url);
		     return Loader;
		 }
	}

	function xmlMicoxRSS(xmlNode){
		//by Micox: http://elmicox.blogspot.com
		var retorno = "";
		var objNodeList = xmlNode.getElementsByTagName("item");
		for(var i=0;i<objNodeList.length;i++){
			var strTitulo = ""
			var strURL = ""
			var strDescr = ""
			var objNode = objNodeList[i];
			if(objNode.nodeType == 1){ //ignorar espaços em branco
				for(var j=0;j<objNode.childNodes.length;j++){
					var objNode2 = objNode.childNodes[j];
					if(objNode2.nodeType == 1){//ignorar espaços em branco
						switch (objNode2.nodeName) {
							case "title": 
								//alert(objNode.childNodes[j].firstChild.nodevalue);
								strTitulo = objNode2.firstChild.nodeValue; 
							break;
							case "link": 
								strURL = objNode2.firstChild.nodeValue; 
							break;
							case "description": 
								strDescr = objNode2.firstChild.nodeValue; 
							break;
						}
					}
				}
				retorno += " <li><a href='" + strURL + "'>" + strTitulo + "</a><br />" + strDescr + "</li>\n";
			}
		}
		retorno = "<ul>\n" + retorno + "</ul>";
		return retorno;
	}
	//xml = xmlMicoxLoader("rss.xml"); //carrega o xml
	//document.getElementById(div_alvo).innerHTML = xmlMicoxRSS(xml); //lista o rss
	alert(xmlMicoxRSS(xmlMicoxLoader("rss.xml"))); //lista o rss
</script>
