body{ 
	background-color:rgb(255,255,255);
	color:#FFFFFF; text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:arial; font-size:13px; /**/
	-moz-box-shadow: 0px 0px 7px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.5);
	border-radius:0px;/**/
	border-width:0px;
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;
	overflow:hidden;
}
.painel{ 
	background:rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
	/*border-radius:10; border-width:1px;/**/
	position:absolute; left:0px; top:0px;
	display:none;
	padding:5px 5px 5px 5px; 
	margin:0px 10px 0px 10px;
}
.aviso{ 
	display:none; 
	background:rgba(255,255,0,0.25); 
	border-radius:5; 
	padding:2px 2px 2px 2px;
	font-family:arial;
	font-size:10pt; 
	color:white;
}
.bigselect{
	border-width:0; 
	border-radius:5; 
	color:#FFFFFF; 
	background:rgba(255,255,255,0.15);
}
.canvasAvatar{
	background:rgba(255,255,255,0.35); 
	color:rgba(255,255,255,0.75);
	border-width:0; 
	border-color:rgb(255,255,255); 
	border-radius:5;
}
.titleForms{
	background:rgba(192,192,255,0.25); 
	border-width:1; 
	border-color:rgb(0,0,0); 
	border-radius:5;
	text-align:left;
	font-family:arial;
	font-size:14pt; 
	color:rgba(255,255,255,1);
	padding:0px 10px 0px 10px;
	margin:0px 5px 0px 5px;
}
.contract{
	border-radius:5; padding:2px 2px 2px 2px;
	background-color:rgba(255,255,255,0.15); color:rgba(255,255,255,1.0); 
	border-width:0; border-color:rgba(255,255,255,0.50);
}

.codigo{
	background-color:rgba(255,255,255,0.25);/**/
	color:#FFFFFF; text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:Courier; font-size:13px; /**/
	border-radius:10; border-width:1px;
	padding:0px 5px 0px 5px; margin:0px 0px 0px 0px;
	/*padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;/**/
}
/*div2{ 
	background-color:rgba(255,255,255,0.35);
	-moz-box-shadow: 0px 0px 7px rgba(255,255,0,0.5);
	-webkit-box-shadow: 0px 0px 7px rgba(255,255,0,0.75);
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75);
	border-radius:6;
	border-width:1px;
}/**/
fieldset{
	border-radius:10;
}
input{ 
	background-color:rgba(255,255,255,0.25);
	color: rgba(255,255,255,1); text-shadow: -2px -2px 3px rgba(0,0,0,0.50); font-family:Courier; font-size:13px; /**/
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:10;	border-width:1px;
	padding:0px 5px 0px 5px; 
	margin:0px 0px 0px 0px;
	height:18px;
	vertical-align:middle;
}
select{ 
	background-color:rgba(255,255,255,0.15);
	color: rgba(255,255,255,1); text-shadow: -2px -2px 3px rgba(0,0,0,0.75);/**/
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:10;	border-width:1px;
	padding:0px 5px 0px 5px; 
	margin:0px 0px 0px 0px;
}
optgroup{
	background:rgba(0,0,128,0.25);
	color:#FFFFFF; text-shadow: -2px -2px 3px rgba(0,0,0,0.75);/**/
	-moz-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	-webkit-box-shadow: 0px 0px 0px rgba(255,255,255,0.25);
	border-color:rgba(255,255,255,0.50);
	border-radius:5;
	border-width:0px;
	padding:0px 5px 0px 5px; 
	margin:0px 0px 0px 0px;
}
button{
	background-color:rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 7px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,1);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.75); text-align:left;
	border-radius:6;
	border-width:1px;
	height:23px;
}
button:hover, button.hover, button:focus, button.focus{ 
	background-color:rgba(255,255,192,1);
	-moz-box-shadow: 0px 0px 15px rgba(255,255,0,1);
	-webkit-box-shadow: 0px 0px 15px rgba(255,255,0,1);
	text-shadow: -2px -2px 3px rgba(0,0,0,0.75); text-align:left;
	/*border-radius:10;/**/
	border-width:1px;
	height:23px;
}
button:disabled, button.disabled{ 
	background-color:rgba(255,255,255,0.5);/**/
	-moz-box-shadow: 0px 0px 0px rgba(0,255,0,0.5);
	-webkit-box-shadow: 0px 0px 0px rgba(0,255,0,0.5);/**/
	color: rgba(0,0,0,0.5);/**/
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5); text-align:left;
	/*border-radius:10;/**/
	border-width:1px;
	height:23px;
}
